@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtile.css);
@import url(./__image-container/lead__image-container.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);
.lead{
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  padding: 0 148px;
  padding-bottom: 92px;
}

@media screen and (max-width:1100px) {
  .lead {
    padding: 0 48px;
    padding-bottom: 92px;
  }
} 

@media screen and (max-width:500px) {
  .lead{
     padding: 0;
     padding-bottom: 64px;
  }
} 

