.main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
   grid-gap: 92px;
   justify-content: space-between; 
  border: 1px solid darkviolet;
  
} 

@media screen and (max-width: 768px) {
  .main {
    grid-gap: 88px;
  }
}

@media screen and (max-width: 320px) {
  .main {
    grid-gap: 64px;
  }
}
