.main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
} 

@media screen and (max-width: 768px) {
  .main {
    grid-gap: 88px;
  }
}

@media screen and (max-width: 320px) {
  .main {
    grid-gap: 64px;
  }
}
