.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: white;
  z-index: 2;
  }
  
  @media screen and (max-width:600px) {
    .cover__subtitle {
      max-width: 280px;
      font-size: 14px;
      line-height: 1.44;
  } 
}
