.header__logo {
  max-width: 176px;  /* исправлено */
  max-height:  52px;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width:540px) {
  .header__logo{       /* исправлено */
    max-width: 142px;
    max-height: 42px;
  }
}
