.lead__title {
   box-sizing: border-box;
   margin: 0;
   max-width: 720px;  /* исправленно */
   font-size: 96px;
   line-height: 1.04;
   font-weight: 900;
   text-align: center;
   margin: 0 auto 32px;
}


@media screen and (max-width:700px) {
    .lead__title  {
      max-width: 288px;  /* исправленно */
      line-height: 1.1;
      font-size: 40px;
      margin-bottom: 16px;   /* исправленно */
    }
  }

