.lead__title { 
   box-sizing: border-box;
   margin: 0 auto;
   max-width: 720px;  /* исправленно */
   font-size: 96px; 
   line-height: 1.04;
   font-weight: 900;
   text-align: center;
   padding: 0 90px 32px; 
}
 

  
@media screen and (max-width:1024px) {
  .lead__title  {
    padding: 0 20px 32px;
  }
} 

@media screen and (max-width:700px) {
    .lead__title  {
      max-width: 288px;  /* исправленно */
      line-height: 1.1;
      font-size: 40px; 
      padding: 0 0 32px;   /* исправленно */
    }
  } 
  
  @media screen and (max-width:600px) {  /* исправленно */
    .lead__title  {
      padding: 0 16px 16px;
     
  } 
} 