.place__paragraph {
  max-width: 100%;
  width:100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.67;
  margin: 0 0 24px;
  text-align: justify;
}

.place__paragraph:last-child{
  margin-bottom: 0;
}
@media screen and (max-width:900px) {   /* исправленно */
  .place__paragraph{
    font-size: 16px;
    line-height: 1.625;
  }
}

