.place__paragraph {
  font-size: 18px;
  line-height: 1.67;
  margin: 0 0 24px;
  text-align: left;
}

.place__paragraph:last-child{
  margin-bottom: 0;
}
@media screen and (max-width:900px) {   /* исправленно */
  .place__paragraph{
    font-size: 16px;
    line-height: 1.625;
  }
}

@media screen and (max-width:540px) {   /* исправленно */
  .place__paragraph{
    padding: 0 12px;
  }
}
