@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-content/intro__list-content.css);

.intro{                  /* исправлено */
  max-width: 690px;         
  padding-left: 148px;
  padding-bottom: 92px;
}


@media screen and (max-width:1200px) {
  .intro {
    padding-left: 48px;
  }
} 

@media screen and (max-width:900px) {
  .intro {
    padding: 0 24px;
    padding-bottom: 88px;
  }
} 

@media screen and (max-width:540px) {
  .intro {
    padding: 16px;
    padding-bottom: 64px;
  }
} 