.cover__overlay { 
  position:relative;
  max-width: 100%;
  min-height: 100%; /* исправленно */
  padding: 19.3% 0; /* исправленно */
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  text-decoration: none; 
  background-color: rgba(42,44,47,0.3);
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.7);
  transition: .7s; 
}
 
